body {
    color: #444;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5; 
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color:coral;
    transition: 0.2s ease-in-out;
}
    a:active{
        color: green;
    }
    a:hover{
        color: skyblue;
    }
    a:focus{
        color: blueviolet;
    }
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
}

.hero {
    background-color: cornflowerblue;
    padding: 20px 0;
    text-align: center;
    color: white;   
    margin-bottom: 40px;
}

.logo {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.news-item {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    padding-bottom: 20px;    
}

.news-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.news-link {
    color: darkblue;
    font-size: 1.4em;
    margin-bottom: 10px;
    display: block;
    
}

.news-meta-item {
    display: inline;
    margin-right: 15px;   
}


.content {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.is-liked {
    animation: flash linear 1s 2;
}

.is-visible{
    opacity: 1;
    visibility: visible;
    height: auto;
}

.form {
    height: 0;
    margin-bottom: 20px;
    opacity: 0;    
    visibility: hidden;
}

.form.is-visible {
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    border: 1px solid #444;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    
}

@keyframes flash {
    0% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 1}
}

.modal {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    left: 50%;
    position: absolute;
    top: 40px;
    transform: translate(-50%, 5%);
    transition: 0.4s ease-in-out;
    width: 500px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}

.modal.is-visible {
    opacity: 1;
    transform: translate(-50%, 0);
    visibility: visible;
}

/*
.is-visible {
    opacity: 1;
    visibility: visible;
}
*/

.modal-media{
    position: relative;    
}

.modal-media img{
     width: 500px;    
}

.modal-content {
    padding: 20px;
}

.modal-media-title {
    color: #fff;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    position: absolute;
}

.modal-overlay{
    background-color: #222;
    opacity: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
    transition: 0.4s ease-in-out;
    z-index: 1;
}

.modal-overlay.is.visible {
    opacity: 0.4;
    visibility: visible;
}










