body {
    color: darkgray;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5; 
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color:coral;
}
    a:active{
        color: green;
    }
    a:hover{
        color: skyblue;
    }
    a:focus{
        color: blueviolet;
    }

.hero {
    background-color: cornflowerblue;
    padding: 20px 0;
    text-align: center;
    color: white;   
    margin-bottom: 40px;
}

.logo {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.news-item {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
}

.news-link {
    color: darkblue;
    font-size: 1.4em;
    margin-bottom: 10px;
    display: block;
    
}

.news-meta-item {
    display: inline;
    margin-right: 15px;
   
}


.content {
    max-width: 800px;
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}